// Fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

// Colors
$white: #ffffff;
$lightGray: #959eac;
$mediumGray: #7c8798;
$blue: #252d37;
$darkBlue: #121417;
$orange: #fa7312;
$black: #141519;

$radius: 25px;